<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farhan.staradmin.mapper.BoardMapper">

    <select id="boardCount" resultType="int">
        SELECT count(id) AS cnt FROM board;
    </select>

    <select id="getList" resultType="com.farhan.staradmin.domain.BoardDTO">
        SELECT
        *
        FROM board;
    </select>

    <select id="getBoard" parameterType="Integer" resultType="com.farhan.staradmin.domain.BoardDTO">
        SELECT
        *
        FROM board WHERE id=#{id};
    </select>

</mapper>