<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farhan.staradmin.mapper.BoardMapper">

    <select id="boardCount" resultType="int" parameterType="com.farhan.staradmin.domain.BoardDTO">
        SELECT count(id) AS cnt FROM board;
    </select>

    <select id="getList" resultType="com.farhan.staradmin.domain.BoardDTO" parameterType="com.farhan.staradmin.domain.BoardAPI">
        SELECT
        *
        FROM board
        ORDER BY id desc
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getBoard" parameterType="Integer" resultType="com.farhan.staradmin.domain.BoardDTO">
        SELECT
        *
        FROM board WHERE id=#{id};
    </select>

    <insert id="uploadBoard" parameterType="com.farhan.staradmin.domain.BoardDTO">
        INSERT INTO board (title, content, name)
        VALUES
        (#{title}, #{content}, #{name});
    </insert>

    <update id="updateBoard" parameterType="com.farhan.staradmin.domain.BoardDTO">
        UPDATE board
        SET title =#{title} , content=#{content}
        WHERE id =#{id};
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM board
        WHERE id =#{id};
    </delete>

<!--    마이바티스 검색 쿼리 -->

<!--    <select id="selectAll" resultType="com.farhan.staradmin.domain.BoardDTO">-->
<!--        select board as b-->
<!--        b.title,-->
<!--        b.name,-->

<!--&#45;&#45;         동적 쿼리 관련-->
<!--        WHERE 1 = 1-->
<!--        <if test="type == 'T'.toString()">-->
<!--            AND b.title LIKE '${keyword}%'-->
<!--        </if>-->
<!--        <if test="type == 'N'.toString()">-->
<!--            AND b.name LIKE '${keyword}%'-->
<!--        </if>-->
<!--    </select>-->


</mapper>