<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farhan.staradmin.mapper.UserSampleMapper">
    <select id="countAllUsers" resultType="int">
        SELECT COUNT(*)
        FROM user_sample
    </select>

    <select id="selectAllUsers" parameterType="com.farhan.staradmin.model.paginationParameters" resultType="com.farhan.staradmin.model.UserSample">
        SELECT *
        FROM user_sample
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countSearchedUsers" resultType="int">
        SELECT COUNT(*)
        FROM user_sample
        WHERE family_name LIKE CONCAT('%', #{keyword}, '%') OR first_name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="searchUsers" parameterType="com.farhan.staradmin.model.paginationParameters" resultType="com.farhan.staradmin.model.UserSample">
        SELECT *
        FROM user_sample
        WHERE family_name LIKE CONCAT('%', #{keyword}, '%') OR first_name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectOneUserById" parameterType="long" resultType="com.farhan.staradmin.model.UserSample">
        SELECT *
        FROM user_sample
        WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="com.farhan.staradmin.model.UserSample">
        UPDATE user_sample
        SET family_name = #{familyName},
            first_name = #{firstName},
            family_kana_name = #{familyKanaName},
            first_kana_name = #{firstKanaName},
            birthday = #{birthday},
            gender = #{gender},
            office = #{office},
            tel = #{tel},
            mail = #{mail},
            is_quit = #{isQuit},
            updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <update id="quitUserById" parameterType="long">
        UPDATE user_sample
        SET is_quit = 1
        WHERE id = #{id}
    </update>

    <insert id="createUser" parameterType="com.farhan.staradmin.model.UserSample" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_sample (
            family_name, first_name, family_kana_name, first_kana_name, birthday,
            gender, office, tel, mail, is_quit, created_at, updated_at
        ) VALUES (
            #{familyName}, #{firstName}, #{familyKanaName}, #{firstKanaName}, #{birthday},
            #{gender}, #{office}, #{tel}, #{mail}, false, #{createdAt}, #{updatedAt}
                 )
    </insert>

    <!--
    <select id="searchUser" resultType="com.farhan.staradmin.model.UserSample">
        select
        u.id,
        u.first_name,
        u.family_name,
        u.first_kana_name,
        u.family_kana_name,
        u.mail,
        po.id as order_id,
        po.total_price,
        po.order_date,
        po.created_at,
        po.updated_at
        FROM pre_order AS po
        LEFT JOIN user u on po.user_id = u.id
        WHERE 1 = 1
        <if test="userId != null">
            AND u.id = #{userId}
        </if>
        <if test="mail != null and mail != ''">
            AND u.mail LIKE '${mail}%'
        </if>
        <if test="name !=null and name !=''">
            AND CONCAT(u.family_name, u.first_name) LIKE '${name}%'
        </if>
        <if test="kanaName !=null and kanaName !=''">
            AND CONCAT(u.family_kana_name, u.first_kana_name) LIKE '${kanaName}%'
        </if>
        <if test="from != null ">
            <![CDATA[ AND po.order_date >= #{from} ]]>
        </if>
        <if test="to != null">
            <![CDATA[ AND po.order_date <= #{to} ]]>
        </if>
        ORDER BY po.order_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    -->
</mapper>
